<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.dao.StudentMapper">
  <resultMap id="BaseResultMap" type="com.xiaoshu.entity.Student">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="sid" jdbcType="INTEGER" property="sid" />
    <result column="sname" jdbcType="VARCHAR" property="sname" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
  </resultMap>
  <select id="findPage" parameterType="student" resultType="student">
  	select s.*,c.* from student s,school c
  	<where>
  		s.cid = c.cid
  		<if test="sname!=null and sname!=''">
  			and s.sname like '%${sname}%'
  		</if>
  		<if test="cid!=null and cid!=0">
  			and s.cid =#{cid}
  		</if>
  	</where>
  </select>
</mapper>