<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.dao.ExpressCompanyMapper">
 	<select id="findCname" parameterType="String" resultType="com.xiaoshu.entity.ExpressCompany">
 		select * from express_company where express_name=#{name}
 	</select>
 	
 	<insert id="findAddCname" parameterType="com.xiaoshu.entity.ExpressCompany" keyProperty="id" useGeneratedKeys="true">
 		insert into express_company values(null,#{expressName},#{status},#{createTime})
 	</insert>
 	
</mapper>